{% set page_title = '服务支持' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block content %}

<div
    class="
        py-160
        min-vh-100
        d-flex
        align-items-center
        position-relative
        lines-style-3
    "
>
    <div class="line text-white"></div>

    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img
                src="assets/images/service/services-1920-1080.jpg"
                class="jarallax-img"
                alt=""
            />
        </div>
        <div
            class="background-color"
            style="background-color: #0e0e0e; opacity: 0.2"
        ></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div
                class="col-12 col-lg-8 col-xl-7 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
            >
                <h1 class="text-white mb-0">{{page_title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="py-160">
    <div class="container mb-8">
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/service/user-experience-1040-1260.jpg"
                    alt=""
                />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">1. 精选居家方案</h3>
                <hr class="mt-30 mb-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-60"
                    href="ric-control-core.html"
                    >更多详情</a
                >
            </div>
        </div>

        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 order-lg-2 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/service/design-creative-1040-1260.jpg"
                    alt=""
                />
            </div>
            <div
                class="
                    col-12 col-lg-5
                    order-lg-1
                    ps-lg-0
                    ms-lg-30
                    show-on-scroll
                "
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="50"
            >
                <h3 class="mb-n10">2. 定制化服务</h3>
                <hr class="mt-30 mb-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-60"
                    href="krista-app-management.html"
                    >更多详情</a
                >
            </div>
        </div>
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/service/user-experience-1040-1260.jpg"
                    alt=""
                />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">3. 系统安装</h3>
                <hr class="mt-30 mb-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-60"
                    href="ric-control-core.html"
                    >更多详情</a
                >
            </div>
        </div>
    </div>
</div>

{% endblock %}
