{% set page_title = '关于我们' %}
{% set navbar_dark = true %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}



{% block content %}





<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 pb-160 text-dark">
            <div class="row mt-100 pt-3">
                <div class="col-12 col-lg-6 col-xl-6 show-on-scroll" data-show-duration="800">
                    <h1 class="display-2 pt-100  text-dark">关于我们</h1>
               
                </div>
                <div class="col-12 text-center col-lg-6 col-xl-6 show-on-scroll" data-show-duration="800">
                    <a class="" href="index.html">
                        <img width="455" src="assets/images/logo1.png" alt="">
                    </a>
                </div>
               
            </div>
            <div class="row mt-100">
                <div class="col-12 col-lg-12   col-xl-12  me-lg-60 me-xl-100 show-on-scroll" data-show-delay="100" data-show-duration="500" data-show-distance="10">
                    <hr class="mt-0 border-dark">
                    <h4  style="text-indent: 2em;" >Konnext 是一家以科技创新为发展方向的综合性服务企业。 我们提供包括智能家居、网络、监控、安防和室内外对讲等多种澳洲主流家居系统的智能化控制、一体化设计和专业化部署。每一个独立家居系统，都有我们为之精选的顶级产品供应商和技术支持。</h4>
                </div>
            </div>



            <div class="py-160">
                <div class="container mb-8">
                    <div class="row gh-1 gv-3 align-items-center justify-content-between mb-110">
                        <div class="col-12 col-lg-6 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-origin="left" data-show-delay="300">
                            <img class="w-100" src="assets/images/service/user-experience-1040-1260.jpg" alt="">
                        </div>
            
                        <div class="col-12 col-lg-5 ps-lg-0 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-origin="right" data-show-delay="50">
                            <h3 class="mb-n10">在智能家居方面</h3>
                            <hr class="mt-30 mb-60">
            
                            <p class="mt-n7">我们是唯一全球性的住宅和楼宇控制标准——KNX的组织会员之一。因此，只要是全球任何一家拥有KNX商标的硬件供应商，我们都能使用其产品为您集成。同时，本公司的KNX认证工程师将会给您带来功能全面，极致便利的智能家居设计和部署。</p>
            
            
                        </div>
                    </div>
            
                    <div class="row gh-1 gv-3 align-items-center justify-content-between mb-110">
                        <div class="col-12 col-lg-6 order-lg-2 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-origin="right" data-show-delay="300">
                            <img class="w-100" src="assets/images/service/design-creative-1040-1260.jpg" alt="">
                        </div>
                        <div class="col-12 col-lg-5 order-lg-1 ps-lg-0 ms-lg-30 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-origin="left" data-show-delay="50">
                            <h3 class="mb-n10">在网络部署方面</h3>
                            <hr class="mt-30 mb-60">
            
                           <p class="mt-n7">我们拥有十五年商业和民用网络设计部署经验，可满足任何企业客户或个人用户对于网络的所有需求。例如，我们可以实现房屋的高速无线WiFi全覆盖，让您能够利用APP对智能家居进行远程控制，对单一需求进行必要的网络限速等。</p>
            
                           
            
                        </div>
                    </div>
            
                    <div class="row gh-1 gv-3 align-items-center justify-content-between">
                        <div class="col-12 col-lg-6 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-origin="left" data-show-delay="300">
                            <img class="w-100" src="assets/images/service/development-services-1040-1260.jpg" alt="">
                        </div>
                        <div class="col-12 col-lg-5 ps-lg-0 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-origin="right" data-show-delay="50">
                            <h3 class="mb-n10">在监控、安防和室内对讲方面</h3>
                            <hr class="mt-30 mb-60">
            
                            <p class="mt-n7">我们全部使用基于IP网络为媒介实现对所有系统统一管理，这将大大减少安装难度，提高对于未来的扩展性，让您以更优惠的价格得到性价比更高的服务。</p>
            
                            
            
                        </div>
                    </div>
                </div>
            </div>
            
            



        

            <div class="row mt-30">
                <div class="col-12 col-lg-12   col-xl-12  me-lg-60 me-xl-100 show-on-scroll" data-show-delay="100" data-show-duration="500" data-show-distance="10">
                    <hr class="mt-0 border-dark">
                    <h4>我们的特色就是统一所有的系统，车同轴，说同文，实现高度集中化管理及使用。 </h4>
                </div>
            </div>
        </div>
    </div>


</div>








<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->


{% endblock %}
