{% set page_title = '展示区' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block banner %} {% macro image_portfolio(src="",
classes="", gallery="") %}
<a
    href="{{ src[1] }}"
    class="gallery-item{{ ' ' + classes if classes }}"
    data-fancybox="{{ gallery }}"
    data-animation-effect="fade"
>
    <img src="{{ src[0] }}" alt="" />
</a>
{% endmacro %} {% macro image_portfolio_init(name="", classes="", gallery="") %}
{{ image_portfolio(single_portfolio_images.style_1[name], classes=classes,
gallery=gallery) }} {% endmacro %}

<div class="banner banner-dark shape-parent">
    <br />
    <br />
    <br />
    <br />
    <div class="shape align-items-end mb-n160">
        <svg
            class="mb-n160"
            data-rellax-speed="-1"
            width="518"
            height="641"
            viewBox="0 0 518 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff" />
        </svg>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container">
    <div class="row justify-content-center text-center pb-60 ">
        <div class="col-12 col-lg-8">
 
            <h1
                class="h2 mb-n10 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
            >
                商业项目
            </h1>
            <div
                class="mt-30 subtitle show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                （因商业项目涉及客户商业隐私，不便宣传，如需了解请受邀详谈）
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        1. 澳洲本土连锁品牌超市 | Peakhurst NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/超市项目.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">
                    &#9679; 企业网络系统设计部署及局部设备升级
                </p>
                <br />
                <p class="h5 mb-n10">&#9679; 监控系统设计部署</p>
                <br />
                <p class="h5 mb-n10">&#9679; 弱电安装部署</p>
            </div>
        </div>

        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        2. Pacific Highway Office Tower | St Leonards NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/PHOT.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">&#9679; 企业网络系统设计部署</p>
                <br />
                <p class="h5 mb-n10">&#9679; 强弱电布线改造及安装部署</p>
            </div>
        </div>

        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        3. 西南区最大的连锁肉类及食品加工工厂 EST.1991 | Blacktown
                        NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/加工厂.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">&#9679; 网络安全系统部署</p>
                <br />
                <p class="h5 mb-n10">&#9679; 监控系统技术支持</p>
            </div>
        </div>

        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        4. 25年行业资历的建筑、室内装潢Est.1998 | Campsie NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/25办公室.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">
                    &#9679;
                    总部办公室IT技术支持（网络，服务器，本地存储，远程接入）
                </p>
                <br />
                <p class="h5 mb-n10">&#9679; 网络割接及系统服务</p>
            </div>
        </div>

        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        5. 西澳著名照明系统公司新洲分部 | Old Guildford NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/照明项目.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">&#9679; 网络系统割接服务</p>
            </div>
        </div>

        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        6. 大型家居公司仓储 | Seven hills NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/仓储项目.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">&#9679; 网络割接及系统服务</p>
                <br />
                <p class="h5 mb-n10">&#9679; 警报系统集成技术支持</p>
                <br />
                <p class="h5 mb-n10">&#9679; 监控，室内对讲系统安装支持</p>
            </div>
        </div>

        <div class="row pb-100 justify-content-center">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    <h1
                        class="h4 mt-30 mb-60 show-on-scroll"
                        data-show-duration="500"
                        data-show-distance="10"
                    >
                        7. NBN安装服务及通信系统集成服务公司 | Auburn NSW
                    </h1>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
                <div class="row mb-30 justify-content-center">
                    <img
                        style="width: 90%"
                        class="show-on-scroll"
                        src="assets/images/img/NBN.png"
                        alt=""
                        data-show-duration="800"
                    />
                </div>
            </div>
            <br /><br />

            <div
                class="ps-lg-160 col-12 col-lg-12 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                <h4 class="">项目内容</h4>
                <p class="h5 mb-n10">&#9679; 办公室Cisco IP电话系统部署</p>
            </div>
        </div>
    </div>

    <div class="page-navigation mt-160">
        <span style="margin-left: -18%;" class="d-none d-sm-inline">&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span>
    <span>&#12288&#12288</span>
    <!-- <a href="#" class="btn btn-clean"
        >{{ icon.arrow_left | replace(' width', ' class="icon-arrow
        icon-arrow-left" width') | safe }}<span class="d-none d-sm-inline">
            post</span
        ></a
    > -->
    <a href="gallery.html" class=" btn btn-clean"
        >返回<span class="d-none d-sm-inline">：展示区</span></a
    >

    <a href="residential-project.html" class="btn btn-clean"
        ><span class="d-none d-sm-inline"
            >下一篇： 民用项目</span
        >{{ icon.arrow_right | replace(' width', ' class="icon-arrow
        icon-arrow-right" width') | safe }}</a
    >
</div>

    <!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div>  full-wifi-coverage.html-->

    {% endblock %}
</div>
