{% set page_title = '弱电布线' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block banner %}
<div class="banner banner-dark shape-parent">
    <br />
    <br />
    <br />
    <br />
    <div class="shape align-items-end mb-n160">
        <svg
            class="mb-n160"
            data-rellax-speed="-1"
            width="518"
            height="641"
            viewBox="0 0 518 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff" />
        </svg>
    </div>
</div>
{% endblock %} {% block content %}

<div class="py-50">
    <div class="container">
        <div class="row mb-n8">
            <div
                class="col-12 col-lg-10 col-xl-8 show-on-scroll"
                data-show-distance="10"
                data-show-duration="600"
            >
                <h1 class="h2 mt-15 pb-4 pb-sm-0 mb-130">联系我们 👋</h1>
            </div>
        </div>

        <div class="row gh-1 gv-2 pb-10">
            <div class="col-12 col-lg-4">
                <div
                    class="mb-60 show-on-scroll"
                    data-show-delay="100"
                    data-show-distance="20"
                    data-show-duration="500"
                    data-show-origin="left"
                >
                    <p class="lead mb-17 fw-medium">联系方式</p>
                    <ul class="list-group borderless font-size-17">
                        <li class="list-group-item">
                            Email:
                            <a
                                href="mailto:info@konnext.com.au?subject=Test%20Address%20Email"
                                class="text-decoration-none"
                                >info@konnext.com.au</a
                            >
                        </li>
                        <li class="list-group-item">
                            电话:
                            <a
                                href="callto:+61-452 550 266"
                                class="text-decoration-none"
                                >+61 452 550 266</a
                            >
                        </li>
                    </ul>
                </div>

                <div
                    class="mt-n15 show-on-scroll"
                    data-show-delay="300"
                    data-show-distance="20"
                    data-show-duration="500"
                    data-show-origin="left"
                >
                    <p class="lead mb-17 fw-medium">工作时间</p>
                    <ul class="list-group borderless font-size-17">
                        <li class="list-group-item">周一至周五</li>
                        <li class="list-group-item">9:00 am - 5:30 pm</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-8 mt-5 mt-lg-0">
                <form id="form">
                    <div class="row gh-1 gv-2">
                        <div
                            class="col-12 col-md-6 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="100"
                        >
                            <input
                                name="cName"
                                type="name"
                                class="form-control"
                                placeholder="您的称呼 *"
                            />
                        </div>
                        <div
                            class="col-12 col-md-6 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="150"
                        >
                            <input
                                name="email"
                                type="email"
                                class="form-control"
                                placeholder="电子邮件 *"
                            />
                        </div>
                        <div
                            class="col-12 col-md-6 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="200"
                        >
                            <input
                                name="phoneNum"
                                type="phone"
                                class="form-control"
                                placeholder="联系电话 *"
                            />
                        </div>
                        <div
                            class="col-12 col-md-6 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="250"
                        >
                            <input
                                name="postcode"
                                type="text"
                                class="form-control"
                                placeholder="邮编"
                            />
                        </div>

                        <div
                            class="col-12 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="400"
                        >
                            <input
                                name="com_name"
                                type="text"
                                class="form-control"
                                placeholder="公司名称"
                            />
                        </div>
                        <div
                            class="col-12 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="450"
                        >
                            <textarea
                                name="message"
                                class="form-control"
                                rows="1"
                                placeholder="咨询内容 *"
                            ></textarea>
                        </div>
                        <div
                            class="col-12 show-on-scroll"
                            data-show-duration="400"
                            data-show-distance="10"
                            data-show-delay="470"
                        >
                            <div id="alertSuccess" class="alertC success">
                                <input type="checkbox" id="alert2" />
                                <label class="close" title="close" for="alert2">
                                    <i class="icon-remove"></i>
                                </label>
                                <p class="inner">
                                    来信已收到，我们将及时回复您！
                                </p>
                            </div>

                            <div id="alertInfo" class="alertC info">
                                <input type="checkbox" id="alert3" />
                                <label class="close" title="close" for="alert3">
                                    <i class="icon-remove"></i>
                                </label>
                                <p class="inner">信息发送中，请稍后...</p>
                            </div>

                            <div id="alertError" class="alertC error">
                                <input type="checkbox" id="alert1" />
                                <label class="close" title="close" for="alert1">
                                    <i class="icon-remove"></i>
                                </label>
                                <p class="inner">信息发送失败，请稍后再试。</p>
                            </div>
                            <button
                                class="btn btn-dark btn-with-ball mt-20"
                                type="submit"
                                name="button"
                            >
                                提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->

{% endblock %}
