{% set page_title = '定制化服务' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block content %}

<div
    class="
        py-160
        min-vh-100
        d-flex
        align-items-center
        position-relative
        lines-style-3
    "
>
    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="assets/images/img/cust.jpg" class="jarallax-img" alt="" />
        </div>
        <div
            class="background-color"
            style="background-color: #0e0e0e; opacity: 0.6"
        ></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div
                class="col-12 col-lg-8 col-xl-7 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
            >
                <h1 class="text-white mb-0">{{page_title}}</h1>
                <br />
                <br />
                <h2 class="text-white h4 mb-12">
                    对于生活有追求的您，如果有任何对于智能控制，或者独特功能的想法，我们将竭尽全力，为您实现。我们也会根据您的需求，为您定制您专属的Krista
                    APP。
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="py-160">
    <div class="container mb-8">
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/img/1.3.1.1.2 空调控制.jpg"
                    alt=""
                />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">企业级网络设计</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="enterprise-level-network-design.html"
                    >更多详情</a
                >
            </div>
        </div>

        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 order-lg-2 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="300"
            >
                <img class="w-100" src="assets/images/img/网络3.jpg" alt="" />
            </div>
            <div
                class="
                    col-12 col-lg-5
                    order-lg-1
                    ps-lg-0
                    ms-lg-30
                    show-on-scroll
                "
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="50"
            >
                <h3 class="mb-n10">个性化场景交互</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="scene-interaction-customized.html"
                    >更多详情</a
                >
            </div>
        </div>
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img class="w-100" src="assets/images/img/安全1.jpg" alt="" />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">个性化需求开发</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="development-requirement-customized.html"
                    >更多详情</a
                >
            </div>
        </div>
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 order-lg-2 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/img/smarthome2.jpg"
                    alt=""
                />
            </div>
            <div
                class="
                    col-12 col-lg-5
                    order-lg-1
                    ps-lg-0
                    ms-lg-30
                    show-on-scroll
                "
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="50"
            >
                <h3 class="mb-n10">环境实时监测</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="real-time-environment-detction.html"
                    >更多详情</a
                >
            </div>
        </div>
    </div>
</div>

<div class="d-none d-lg-block container">
    <div class="page-navigation">
        <!-- <span>&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span> -->
        <a href="featured-solution.html" class="btn btn-clean"
            >{{ icon.arrow_left | replace(' width', ' class="icon-arrow
            icon-arrow-left" width') | safe }}上一篇：<span
                class="d-none d-sm-inline"
            >
                精选居家方案</span
            ></a
        >
        <a href="service.html" class="btn btn-clean"
            >返回：服务支持 <span class="d-none d-sm-inline"> </span
        ></a>

        <a href="system-deployment.html" class="btn btn-clean"
            >下一篇：<span class="d-none d-sm-inline"> 系统安装</span>{{
            icon.arrow_right | replace(' width', ' class="icon-arrow
            icon-arrow-right" width') | safe }}</a
        >
    </div>
</div>
{% endblock %}
