{% set page_title = '个性化需求开发' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block banner %}
<div class="banner banner-dark shape-parent">
    <br />
    <br />
    <br />
    <br />
    <div class="shape align-items-end mb-n160">
        <svg
            class="mb-n160"
            data-rellax-speed="-1"
            width="518"
            height="641"
            viewBox="0 0 518 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff" />
        </svg>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container">
    <div class="row justify-content-center text-center pt-20 pb-60 mt-10">
        <div class="col-12 col-lg-8">
            <div
                class="subtitle show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                定制化服务
            </div>
            <h1
                class="h2 mb-n10 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
            >
                {{page_title}}
            </h1>

            <h5 class="mt-30">
                如果您有特殊的需求，我们可为您提供个性化的集成开发服务。
            </h5>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <h1
                    class="h3 mt-30 mb-60 show-on-scroll"
                    data-show-duration="500"
                    data-show-distance="10"
                >
                    防盗模式
                </h1>
            </div>
            <div class="row justify-content-center">
                <img
                    style="width: 100%"
                    class="mb-60 show-on-scroll"
                    src="assets/images/3服务支持/3.2.3.1防盗模式.jpg"
                    alt=""
                    data-show-duration="800"
                />
            </div>
        </div>

        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h4 mb-12">
                若客户出门旅游或长期不在家的情况下，收到来自摄像头检测到异常的陌生人停留。可以在旅行时或在外远程启动防盗模式，照明，空调，窗帘以及音频播放设备会按设定运行，模拟有人在家的情况，以防家中被非法入侵。
            </h2>
        </div>

        <div class="col-lg-auto d-none d-lg-block">
            <hr class="mt-25 mb-0 width-70px" />
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <h1
                    class="h3 mt-100 mb-60 show-on-scroll"
                    data-show-duration="500"
                    data-show-distance="10"
                >
                    警报模式
                </h1>
            </div>
            <div class="row justify-content-center">
                <img
                    style="width: 100%"
                    class="mb-60 show-on-scroll"
                    src="assets/images/3服务支持/3.2.3.2警报模式.jpg"
                    alt=""
                    data-show-duration="800"
                />
            </div>
        </div>

        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h4 mb-12">
                当安防系统被触发，在安防警报响起的同时，全屋灯光开启最大亮度，窗帘全部升起以起到震慑作用，并同时发送报警消息到屋主手机或第三方安防公司。
            </h2>
        </div>

        <div class="col-lg-auto d-none d-lg-block">
            <hr class="mt-25 mb-0 width-70px" />
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <h1
                    class="h3 mt-100 mb-60 show-on-scroll"
                    data-show-duration="500"
                    data-show-distance="10"
                >
                    节能模式
                </h1>
            </div>
            <div class="row justify-content-center">
                <img
                    style="width: 100%"
                    class="mb-60 show-on-scroll"
                    src="assets/images/3服务支持/3.2.3.3节能模式.jpg"
                    alt=""
                    data-show-duration="800"
                />
            </div>
        </div>

        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h4 mb-12">
                系统将根据太阳能实时发电量与家中用电量情况，以及当日时间来判断是否启动高功率用电设备（例如游泳池水泵换水），以此来最大程度降低能源消耗。
            </h2>
        </div>

        <div class="col-lg-auto d-none d-lg-block">
            <hr class="mt-25 mb-0 width-70px" />
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <h1
                    class="h3 mt-100 mb-60 show-on-scroll"
                    data-show-duration="500"
                    data-show-distance="10"
                >
                    厨房安全
                </h1>
            </div>
            <div class="row justify-content-center">
                <img
                    style="width: 100%"
                    class="mb-60 show-on-scroll"
                    src="assets/images/3服务支持/3.2.3.4厨房安全.jpg"
                    alt=""
                    data-show-duration="800"
                />
            </div>
        </div>

        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h4 mb-12">
                系统支持远程控制厨房区域供电和燃气阀门，也可按需在后厨安装监控，预防厨房安全隐患。
            </h2>
        </div>

        <div class="col-lg-auto d-none d-lg-block">
            <hr class="mt-25 mb-0 width-70px" />
        </div>
    </div>
    <div class="page-navigation mt-160">
        <!-- <span class=" d-none d-sm-inline">&#12288&#12288</span>
<span>&#12288&#12288</span> -->
        <a href="scene-interaction-customized.html" class="btn btn-clean"
            >{{ icon.arrow_left | replace(' width', ' class="icon-arrow
            icon-arrow-left" width') | safe }}<span class="d-none d-sm-inline">
                上一篇：个性化场景交互</span
            ></a
        >
        <a href="customization.html" class="btn btn-clean"
            >返回<span class="d-none d-sm-inline">：定制化服务</span></a
        >

        <a href="real-time-environment-detction.html" class="btn btn-clean"
            ><span class="d-none d-sm-inline">下一篇： 环境实时监测</span>{{
            icon.arrow_right | replace(' width', ' class="icon-arrow
            icon-arrow-right" width') | safe }}</a
        >
    </div>

    {% endblock %}
</div>
