{% set page_title = '电力安装' %} {% set navbar_dark = true %} {%
set navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block banner %}
<div class="banner banner-dark shape-parent">
    <br />
    <br />
    <br />
    <br />
    <div class="shape align-items-end mb-n160">
        <svg
            class="mb-n160"
            data-rellax-speed="-1"
            width="518"
            height="641"
            viewBox="0 0 518 641"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff" />
        </svg>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container">
    <div class="row justify-content-center text-center pt-20 pb-130 mt-10">
        <div class="col-12 col-lg-8">
            <div
                class="subtitle show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
                data-show-delay="150"
            >
                系统安装
            </div>
            <h1
                class="h2 mb-n10 show-on-scroll"
                data-show-duration="500"
                data-show-distance="10"
            >
                {{page_title}}
            </h1>
        </div>
    </div>
    <div class="row gv-3 justify-content-center">
        <div
            class="col-12 col-lg-10 show-on-scroll"
            data-show-duration="500"
            data-show-distance="10"
            data-show-delay="50"
        >
            <div class="row justify-content-between">
                <div class="row gv-1 mb-60 justify-content-center">
                    <img
                        style="width: 80%"
                        class="mb-100 show-on-scroll"
                        src="assets/images/3服务支持/3.3.2.1电力安装(里).jpeg"
                        alt=""
                        data-show-duration="800"
                    />
                </div>

                <div class="col-12 col-lg-10 col-xl-8">
                    <h2  class="h4 mb-12">
                        KONNEXT拥有专业的持证电力工程团队，若您有需要，我们可以提供全屋电力安装服务。
                    </h2>
                </div>
                <div class="col-12 col-lg-10 col-xl-8">
                    <h2  class="h4 mb-12">
                        当然，若您有心仪的电力服务公司，KONNEXT也将积极地指导配合，共同完成包括布线、系统安装等一系列电力服务。  
                    </h2>
                </div>
                <div class="col-lg-auto d-none d-lg-block">
                    <hr class="mt-25 mb-0 width-70px" />
                </div>
            </div>
        </div>

        <!--    <div
            class="col-12 col-lg-5 show-on-scroll"
            data-show-duration="500"
            data-show-distance="10"
            data-show-delay="150"
        >
            <h4 class="mb-25">独立工作</h4>
            <p class="mb-n10">
                &#9656; 每个单独的系统都能够独立工作而不受RIC本身的影响。
            </p>
        </div>
        <div
            class="col-12 col-lg-5 show-on-scroll"
            data-show-duration="500"
            data-show-distance="10"
            data-show-delay="250"
        >
            <h4 class="md-25">相互协同</h4>
            <p class="mb-n10">
                &#9656; 不同系统间可以进行交互。
                例如，实时监测系统会发送当前的光照强度给智能家居系统，让屋外的景观灯自动打开。
            </p>
        </div>
        <div
            class="col-12 col-lg-5 show-on-scroll"
            data-show-duration="500"
            data-show-distance="10"
            data-show-delay="250"
        >
            <h4 class="md-25">统一控制</h4>
            <p class="mb-n10">
                &#9656;
                作为全屋系统的中枢控制核心，RIC能发送指令前往所有的系统，实现一键启停功能。例如：出门呼叫siri启动离家模式，家中所有的灯光自动关闭，空调自动关闭，前厅灯光延时关闭，警报系统开启倒计时，车库门自动打开，前院门自动打开。
            </p>
        </div>
        <div
            class="col-12 col-lg-5 show-on-scroll"
            data-show-duration="500"
            data-show-distance="10"
            data-show-delay="250"
        >
           </div> -->
    </div>

    <div class="page-navigation mt-160">
  
    <!-- <a href="#" class="btn btn-clean"
        ><span class="d-none d-sm-inline">
            post</span
        ></a
    > -->

    <a href="home-solution-deployment.html" class="btn btn-clean"
    >{{ icon.arrow_left | replace(' width', ' class="icon-arrow
    icon-arrow-left" width') | safe }}<span class="d-none d-sm-inline"
        >上一篇： 居家方案部署</span
    ></a
>
    <a href="system-deployment.html" class=" btn btn-clean"
        >返回<span class="d-none d-sm-inline">：系统安装</span></a
    >

 
    <span style="margin-left: -18%;" class="d-none d-sm-inline">&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span>
    <span>&#12288&#12288</span>
</div>
</div>

<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div>  full-wifi-coverage.html-->

{% endblock %}
