{% set page_title = '精选居家方案' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block content %}

<div
    class="
        py-160
        min-vh-100
        d-flex
        align-items-center
        position-relative
        lines-style-3
    "
>
    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img
                src="assets/images/img/夜间2.jpg"
                class="jarallax-img"
                alt=""
            />
        </div>
        <div
            class="background-color"
            style="background-color: #0e0e0e; opacity: 0.6"
        ></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div
                class="col-10 col-lg-7 col-xl-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
            >
                <h1 class="text-white mb-0">{{page_title}}</h1>
<br> <br>
                
                
                <br>

                <h2 class="text-white h5 mb-12">
                    此套精选居家方案利用RIC系统，串联多个居家子系统，将用户的多系统
                    <span class="text-white h4 ">
                        分布式家居环境</span>
                        打造成可支持触碰、语音、远程、无线等多种控制方式为一体的<span class="text-white h4 "> 统一智能家居环境</span>。
                </h2>

                <h2 class="text-white h5 mt-30">
                    在此方案中，我们还提供一定程度的个性化定制服务，允许用户自行选择喜爱的硬件设备，最大程度上保证用户对于设备选择的自由度，并基于个性化需求量身打造最合适的设计方案。
                </h2>

            </div>
        </div>
    </div>
</div>

<div class="py-160">
    <div class="container mb-8">
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/img/1.3.1.1.2 空调控制.jpg"
                    alt=""
                />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">智能家居控制</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="smart-home-control.html"
                    >更多详情</a
                >
            </div>
        </div>

        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 order-lg-2 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/img/smarthome4.jpg"
                    alt=""
                />
            </div>
            <div
                class="
                    col-12 col-lg-5
                    order-lg-1
                    ps-lg-0
                    ms-lg-30
                    show-on-scroll
                "
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="50"
            >
                <h3 class="mb-n10">高性能无线WIFI全覆盖</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="full-wifi-coverage.html"
                    >更多详情</a
                >
            </div>
        </div>
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/img/安全1.jpg"
                    alt=""
                />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">室内外安保服务</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="security-service.html"
                    >更多详情</a
                >
            </div>
        </div>
        <div
        class="
            row
            gh-1
            gv-3
            align-items-center
            justify-content-between
            mb-110
        "
    >
        <div
            class="col-12 col-lg-6 order-lg-2 show-on-scroll"
            data-show-duration="600"
            data-show-distance="20"
            data-show-origin="right"
            data-show-delay="300"
        >
            <img
                class="w-100"
                src="assets/images/img/smarthome2.jpg"
                alt=""
            />
        </div>
        <div
            class="
                col-12 col-lg-5
                order-lg-1
                ps-lg-0
                ms-lg-30
                show-on-scroll
            "
            data-show-duration="600"
            data-show-distance="20"
            data-show-origin="left"
            data-show-delay="50"
        >
            <h3 class="mb-n10">室内外对讲</h3>
            <hr class="mt-30 mb-lg-60" />

            <a
                class="btn btn-dark btn-with-ball mt-lg-60"
                href="intercom.html"
                >更多详情</a
            >
        </div>
    </div>
    <div
        class="
            row
            gh-1
            gv-3
            align-items-center
            justify-content-between
            mb-110
        "
    >
        <div
            class="col-12 col-lg-6 show-on-scroll"
            data-show-duration="600"
            data-show-distance="20"
            data-show-origin="left"
            data-show-delay="300"
        >
            <img
                class="w-100"
                src="assets/images/img/smarthome3.jpg"
                alt=""
            />
        </div>

        <div
            class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
            data-show-duration="600"
            data-show-distance="20"
            data-show-origin="right"
            data-show-delay="50"
        >
            <h3 class="mb-n10">APP控制与语音控制</h3>
            <hr class="mt-30 mb-lg-60" />

            <a
                class="btn btn-dark btn-with-ball mt-lg-60"
                href="app-and-voice-control.html"
                >更多详情</a
            >
        </div>
    </div>
    
    </div>
</div>


<div class="container">
    <div class="page-navigation ">
        <span>&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span>
        <!-- <a href="#" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"> post</span></a> -->
        <a href="service.html" class="btn btn-clean">返回：服务支持 <span class="d-none d-sm-inline"> </span></a>
      
        <a href="customization.html" class="btn btn-clean">下一篇：<span class="d-none d-sm-inline"> 定制化服务</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
{% endblock %}
