{% set page_title = 'KNX 系统' %}
{% set navbar_dark = true %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block banner %}
<div class="banner  banner-dark shape-parent">
    <br> <br> <br> <br>
    <div class="shape align-items-end mb-n160">
        <svg class="mb-n160" data-rellax-speed="-1" width="518" height="641" viewBox="0 0 518 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff"/>
        </svg>
    </div>
  
</div>
{% endblock %}


{% block content %}
<div class="container isotope ">
    <ul class="nav justify-content-center isotope-options mb-60 show-on-scroll" data-show-duration="500">
        <li class="nav-item active show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
            <a href="#" data-filter="all" class="nav-link"><h4 class="nav-link-name">所有</h4></a>
        </li>
        <li class="nav-item show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
            <a href="#" data-filter="commercial" class="nav-link"><h4 class="nav-link-name">商业项目</h4></a>
        </li>
        <li class="nav-item show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="200">
            <a href="#" data-filter="residential" class="nav-link"><h4 class="nav-link-name">住宅项目</h4></a>
        </li>
        
    </ul>

    <div class="pt-30 show-on-scroll" data-show-duration="800">
        {% macro portfolio_grid(name="", filter="") %}
        <div class="col-12 col-sm-6 col-md-4 isotope-item{% if class %} {{ class }}{% endif %}" data-filters="{{ filter }}">
            {{ card_project_overlay_global(name=name, image_size='sm', title_size='h4', classes='card-hover-bar card-image-md text-center bg-white text-dark', bg="rgba(14, 14, 14, .3)") }}
        </div>
        {% endmacro %}
        {% macro portfolio_grid_vertical(name="", filter="") %}
        <div class="col-12 col-sm-6 col-md-4 isotope-item{% if class %} {{ class }}{% endif %}" data-filters="{{ filter }}">
            {{ card_project_overlay_global(name=name, image_size='sm_vertical', title_size='h4', classes='card-hover-bar card-image-xl text-center bg-white text-dark', bg="rgba(14, 14, 14, .3)") }}
        </div>
        {% endmacro %}
        <div class="row gh-1 gv-1 isotope-grid">
            {{ portfolio_grid_vertical('brand_design', 'residential') }}

            {{ portfolio_grid('gobe_mockup', 'commercial') }}
            {{ portfolio_grid('bag_design', 'residential') }}
            {{ portfolio_grid_vertical('watch_design', 'commercial') }}
            {{ portfolio_grid('creative_socks', 'residential') }}
            {{ portfolio_grid('creative_branding', 'commercial') }}
            {{ portfolio_grid_vertical('app_design', 'residential') }}
        
        </div>
    </div>

    <div class="text-center mt-100 mb-160">
        <a href="gallery.html" class="btn btn-circle btn-light btn-lg">展示区</a>
    </div>
</div>



<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->


{% endblock %}
