{% set page_title = '中枢控制协议KNX' %}
{% set navbar_dark = true %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block banner %}
<div class="banner  banner-dark shape-parent">
    <br> <br> <br> <br>
    <div class="shape align-items-end mb-n160">
        <svg class="mb-n160" data-rellax-speed="-1" width="518" height="641" viewBox="0 0 518 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff"/>
        </svg>
    </div>
    
</div>
{% endblock %}


{% block content %}

<div class="container ">
    <div class="row justify-content-center text-center pt-20 pb-130 mt-10">
        <div class="col-12 col-lg-8">
            <div class="subtitle show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">智能家居设计</div>
            <h1 class="h2 mb-n10 show-on-scroll" data-show-duration="500" data-show-distance="10">中央控制协议 KNX</h1>
        </div>
    </div>

    <img class="w-100 mb-100 show-on-scroll" src="https://www.niupic.com/img?w=1200&h=600&bgColor=b7efb7&textColor=000000" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-12 post-content">
            <p style="text-indent: 2em;" class="lead fw-medium">KNX协会总部比利时布鲁塞尔，其开发的KNX协议标准（国际标准化组织认证编号: ISO/IEC 14543-3）是被正式批准的住宅和楼宇控制领域的开放式国际标准. 该协议规定了全球500家硬件制造商关于KNX设备的制造标准，因此，您可以自由选择KNX产品的样式，数量及功能来满足您对于智能家居的需求。

               </p>
            <p style="text-indent: 2em;" class="lead fw-medium"> 总而言之，无论是中国的HDL，比利时的巴萨还是德国的摩根，只要KNX协会成员的产品， KONNEXT都能集成他们，为您献上一首科技与工程的狂想曲。</p>
        </div>
    </div>

   
    <!-- ======== -->
    
        <div class="row gv-3 align-items-center mb-100 mb-lg-0">
            <div class="col-12 col-lg-6 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="250" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <a href="assets/images/single-portfolio/style-2-1-1920-1080.jpg" class="gallery-item gallery-item-lg" data-fancybox="gallery-1" data-animation-effect="fade">
                    <img src="assets/images/single-portfolio/style-2-1-1170-1160.jpg" alt="">
                </a>
            </div>
            <div class="d-none d-lg-block col-1 mr-xl-10"></div>
            <div class="col-12 col-lg ml-xl-5 mr-xl-n10 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="50" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <h3>KNX线缆</h3>
                <p class="mb-0 lead font-weight-normal">KNX使用的是有线连接，不会与家中的WiFi或无线网络信号互相干扰，因此，KNX拥有无线智能家居无法企及的稳定性。 </p>
             
            </div>
            <div class="d-none d-xl-block col-1"></div>
        </div>
        <div class="row gv-3 align-items-center mb-100 mb-lg-0">
            <div class="col-12 col-lg-6 order-lg-3 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="250" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <a href="assets/images/single-portfolio/style-2-2-1920-1080.jpg" class="gallery-item gallery-item-lg" data-fancybox="gallery-1" data-animation-effect="fade">
                    <img src="assets/images/single-portfolio/style-2-2-1170-1160.jpg" alt="">
                </a>
            </div>
            <div class="d-none d-lg-block col-1 order-lg-2"></div>
            <div class="col-12 col-lg-5 order-lg-1 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="50" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <h3>ETS6</h3>
                <p class="mb-0 lead font-weight-normal">KNX由统一编程平台ETS6进行功能开发及功能编辑，使客户在特定情况下，无需增加成本，就能享受定制化的一键多控功能。 </p>
             
            </div>
        </div>
        <div class="row gv-3 align-items-center mb-100 mb-lg-0">
            <div class="col-12 col-lg-6 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="250" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <a href="assets/images/single-portfolio/style-2-3-1920-1080.jpg" class="gallery-item gallery-item-lg" data-fancybox="gallery-1" data-animation-effect="fade">
                    <img src="assets/images/single-portfolio/style-2-3-1170-1160.jpg" alt="">
                </a>
            </div>
            <div class="d-none d-lg-block col-1 mr-xl-10"></div>
            <div class="col-12 col-lg ml-xl-5 mr-xl-n10 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="50" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <h3>高度集成能力</h3>
                <p class="mb-0 lead font-weight-normal">在KNX协会500家硬件厂商的共同发展和支持下，KNX控制系统能够与绝大部分厂商的电器和面板进行兼容，让客户无需因为智能的需求而放弃对于品牌的选择。  </p>
             
            </div>
            <div class="d-none d-xl-block col-1"></div>
        </div>
        <div class="row gv-3 align-items-center">
            <div class="col-12 col-lg-6 order-lg-2 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="50" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <a href="assets/images/single-portfolio/style-2-4-1920-1080.jpg" class="gallery-item gallery-item-lg" data-fancybox="gallery-1" data-animation-effect="fade">
                    <img src="assets/images/single-portfolio/style-2-4-1170-1160.jpg" alt="">
                </a>
            </div>
            <div class="d-none d-lg-block col-1 order-lg-1"></div>
            <div class="col-12 col-lg-5 order-lg-0 show-on-scroll show-on-scroll-ready" data-show-duration="500" data-show-distance="20" data-show-origin="left" data-show-delay="250" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                <h3>强大的灵活性</h3>
                <p class="mb-0 lead font-weight-normal">KNX的编程平台ETS经过22年的发展，已经形成一套强大的功能测试构架，对于客户90%的需求它都能轻松实现。还有您想不到，没有我们做不到。  </p>
                   </div>
        </div>
    
<br><br><br><br><br><br><br>
        <h4>*另外，若对于单一厂家超过75%的设备使用率，则即可享受该厂家的免费售后及更换服务。 </h4>
    <!-- ========== -->
    <div class="page-navigation mt-160">
        <a href="overview.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}上一篇：<span class="d-none d-sm-inline"> 概述(包括使用协议)</span></a>
        <a href="smart-home-design.html" class="btn btn-clean">返回上级目录 <span class="d-none d-sm-inline"> </span></a>
        <!-- <span>&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span> -->
      
        <a href="standard-smart-home-solution-design.html" class="btn btn-clean">下一篇：<span class="d-none d-sm-inline"> 全系统标准解决方案设计</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
    <!-- <div class="page-navigation mt-160">
        <a href="#" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"> post</span></a>
        <a href="blog-col-1.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="#" class="btn btn-clean">next<span class="d-none d-sm-inline"> post</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div> -->
</div>



<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->


{% endblock %}
