
{% set page_title = 'Krista APP' %}
{% set navbar_dark = true %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block banner %}
<div class="banner  banner-dark shape-parent">
    <br> <br> <br> <br>
    <div class="shape align-items-end mb-n160">
        <svg class="mb-n160" data-rellax-speed="-1" width="518" height="641" viewBox="0 0 518 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff"/>
        </svg>
    </div>
    
</div>
{% endblock %}


{% block content %}


<div class="container">
    <div class="row justify-content-center text-center pt-20 pb-130 mt-10">
        <div class="col-12 col-lg-8">
            <div class="subtitle show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">核心产品</div>
            <h1 class="h2 mb-n10 show-on-scroll" data-show-duration="500" data-show-distance="10">{{page_title}}</h1>
        </div>
    </div>
    <div class="row gv-3 justify-content-center">
        <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="50">
            <div class="row justify-content-between">
                <div class="row  gv-1 mb-60 justify-content-center">
                    <img width="80%"  class=" mb-100 show-on-scroll" src="assets/images/2核心产品/2.2Krista.png" alt="" data-show-duration="800">
                </div>  
                
                <div class="col-12 col-lg-10 col-xl-8">
                    <h2  class="h4 mb-12">Krista 应用程序搭载在RIC控制核心上，基于全屋IP网络的支持，实现对居所内所有家居系统的状态采集与远程控制。 </h2>
                </div> <div class="col-12 col-lg-10 col-xl-8">
                    <h2  class="h4 mb-12">客户能通过它获取家中所有的实时监测信息。同时，也能够利用这些采集到的数据，进行智能分析运算，并发送控制指令。 </h2>
                </div>
                <div class="col-lg-auto d-none d-lg-block"><hr class="mt-25 mb-0 width-70px"></div>
            </div>
        </div>
    </div>
    <div class="page-navigation mt-160">
        <a href="ric-control-core.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}上一篇：<span class="d-none d-sm-inline"> RIC 控制核心</span></a>
        <a href="product.html" class="btn btn-clean">返回：核心产品 </a>
        <span>&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span>
         </div>
</div>

<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->


{% endblock %}
