
{% set page_title = 'Krista APP' %}
{% set navbar_dark = true %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block banner %}
<div class="banner  banner-dark shape-parent">
    <br> <br> <br> <br>
    <div class="shape align-items-end mb-n160">
        <svg class="mb-n160" data-rellax-speed="-1" width="518" height="641" viewBox="0 0 518 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff"/>
        </svg>
    </div>
    
</div>
{% endblock %}


{% block content %}

<div class="container">
  
<!-- //krist ric 页面图片 -->

<div class="row gh-1 gv-1 mb-60 justify-content-center">
    <img style="width: 60%;" class=" mb-100 show-on-scroll" src="assets/images/Krista_APP.png" alt="" data-show-duration="800">
</div>  


    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-medium">Krista 应用程序搭载在RIC控制核心上，客户能通过它获取家中所有的实时监测信息，包括温度、湿度等，甚至能够查看家中的太阳能系统所收集的能量数据。 </p>
        </div>
       
    </div>

    <div class="row gh-1 gv-1 mb-100">
        <div class="col-12 col-sm-6 show-on-scroll" data-show-duration="500" data-show-delay="50">
            <a href="https://www.niupic.com/img?w=1200&h=600&bgColor=c6ddf1&textColor=000000" class="gallery-item gallery-item-lg" data-fancybox="gallery-1" data-animation-effect="fade">
                <img src="https://www.niupic.com/img?w=1200&h=600&bgColor=c6ddf1&textColor=000000" alt="">
            </a>
        </div>
        <div class="col-12 col-sm-6 show-on-scroll" data-show-duration="500" data-show-delay="150">
            <a href="https://www.niupic.com/img?w=1200&h=600&bgColor=e49c9c&textColor=000000" class="gallery-item gallery-item-lg" data-fancybox="gallery-1" data-animation-effect="fade">
                <img src="https://www.niupic.com/img?w=1200&h=600&bgColor=e49c9c&textColor=000000" alt="">
            </a>
        </div>
    </div>
    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p class="lead fw-medium">住宅内所有的控制功能一目了然 </p>
        </div>
       
    </div>

    <!-- <div class="page-navigation mt-160">
        <a href="#" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"> post</span></a>
        <a href="blog-col-1.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="#" class="btn btn-clean">next<span class="d-none d-sm-inline"> post</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div> -->


        <div class="page-navigation mt-160">
        <a href="ric-control-core.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}上一篇：<span class="d-none d-sm-inline"> Krista App</span></a>
        <a href="product.html" class="btn btn-clean">返回上级目录 </a>
        <span>&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span>
      
        <!-- <a href="krista-app-management.html" class="btn btn-clean">下一篇：<span class="d-none d-sm-inline"> Krista App</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a> -->
    </div>
</div>



<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->


{% endblock %}
