{% set page_title = '服务支持' %} {% set navbar_dark = true %} {% set
navbar_mobile_dark = true %} {% set footer_dark = true %} {% extends
'layouts/layout-1.html' %} {% block content %}

<div
    class="
        py-160
        min-vh-100
        d-flex
        align-items-center
        position-relative
        lines-style-3
    "
>
    <div class="background bg-dark">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img
                src="assets/images/img/office4.jpg"
                class="jarallax-img"
                alt=""
            />
        </div>
        <div
            class="background-color"
            style="background-color: #0e0e0e; opacity: 0.4"
        ></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div
                class="col-12 col-lg-8 col-xl-7 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
            >
                <h1 class="text-white mb-0">{{page_title}}</h1>
            </div>

            <div class="col-lg-auto d-none d-lg-block"></div>
        </div>
    </div>
</div>

<div class="py-160">
    <div class="container mb-8">
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img class="w-100" src="assets/images/img/夜间2.jpg" alt="" />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">精选居家方案</h3>
                <hr class="mt-30 mb-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-60"
                    href="featured-solution.html"
                    >更多详情</a
                >
            </div>
        </div>

        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 order-lg-2 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="300"
            >
                <img class="w-100" src="assets/images/img/cust.jpg" alt="" />
            </div>
            <div
                class="
                    col-12 col-lg-5
                    order-lg-1
                    ps-lg-0
                    ms-lg-30
                    show-on-scroll
                "
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="50"
            >
                <h3 class="mb-n10">定制化服务</h3>
                <hr class="mt-30 mb-lg-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-lg-60"
                    href="customization.html"
                    >更多详情</a
                >
            </div>
        </div>
        <div
            class="
                row
                gh-1
                gv-3
                align-items-center
                justify-content-between
                mb-110
            "
        >
            <div
                class="col-12 col-lg-6 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="left"
                data-show-delay="300"
            >
                <img
                    class="w-100"
                    src="assets/images/img/1.3.3.1智能家居部署.jpg"
                    alt=""
                />
            </div>

            <div
                class="col-12 col-lg-5 ps-lg-0 show-on-scroll"
                data-show-duration="600"
                data-show-distance="20"
                data-show-origin="right"
                data-show-delay="50"
            >
                <h3 class="mb-n10">系统安装</h3>
                <hr class="mt-30 mb-60" />

                <a
                    class="btn btn-dark btn-with-ball mt-60"
                    href="system-deployment.html"
                    >更多详情</a
                >
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-navigation mt-160">
        <a href="product.html" class="btn btn-clean"
            >{{ icon.arrow_left | replace(' width', ' class="icon-arrow
            icon-arrow-left" width') | safe }}<span class="d-none d-sm-inline"
                >上一篇： 核心产品</span
            ></a
        >
        <a href="index.html" class="btn btn-clean"
            >返回<span class="d-none d-sm-inline">首页</span></a
        >

        <a href="b2b-project.html" class="btn btn-clean"
            ><span class="d-none d-sm-inline">下一篇： 商业合作</span>{{
            icon.arrow_right | replace(' width', ' class="icon-arrow
            icon-arrow-right" width') | safe }}</a
        >
    </div>
</div>

{% endblock %}
