{% set page_title = '全系统标准解决方案设计' %}
{% set navbar_dark = true %}
{% set navbar_mobile_dark = true %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block banner %}
<div class="banner  banner-dark shape-parent">
    <br> <br> <br> <br>
    <div class="shape align-items-end mb-n160">
        <svg class="mb-n160" data-rellax-speed="-1" width="518" height="641" viewBox="0 0 518 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="127.5" cy="220.5" r="320.5" fill="#eefcff"/>
        </svg>
    </div>
    
</div>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row justify-content-center text-center pt-20 pb-130 mt-10">
        <div class="col-12 col-lg-8">
            <div class="subtitle show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">智能家居设计</div>
            <h1 class="h2 mb-n10 show-on-scroll" data-show-duration="500" data-show-distance="10">全系统标准解决方案设计</h1>
        </div>
    </div>

    <img class="w-100 mb-100 show-on-scroll" src="https://www.niupic.com/img?w=1200&h=600&bgColor=b7efb7&textColor=000000" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p style="text-indent: 2em;" class="lead fw-medium">KONNEXT的能力不局限于智能家居，我们自主研发的KISIC智能控制核心能够集成其他基于TCP/IP协议栈的系统，包括本地网络，私人服务器，IP监控系统，屋内警报系统，室外智能灌溉系统等等，让您只需一个APP就能控制家中所有的系统，而不是数量繁杂的，各式各样的APP。 </p>
            <p style="text-indent: 2em;" class="lead fw-medium">因此，KONNEXT拥有3套全系统标准解决方案设计，针对从公寓，小型房屋到中型房屋基本需求。每个方案中都拥有6大控制系统，其中包括智能家居系统，基础网路构架，周界防范监控系统，室内安防系统，屋内语音对讲系统，以及KISIC主控核心。  </p>
        </div>
    </div>


   
    <!-- <div class="page-navigation mt-160">
        <a href="#" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"> post</span></a>
        <a href="blog-col-1.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="#" class="btn btn-clean">next<span class="d-none d-sm-inline"> post</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div> -->
    <div class="page-navigation mt-160">
        <a href="hub-protocol-knx.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}上一篇：<span class="d-none d-sm-inline"> 中枢控制协议KNX</span></a>
        <a href="smart-home-design.html" class="btn btn-clean">返回上级目录 <span class="d-none d-sm-inline"> </span></a>
        <span>&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288&#12288</span>
      
        <!-- <a href="standard-smart-home-solution-design.html" class="btn btn-clean">下一篇：<span class="d-none d-sm-inline"> 全系统标准解决方案设计</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a> -->
    </div>
</div>



<!-- <div class="container-fluid px-1">
    <div class="row gh-1 gv-1 justify-content-center">
        {% macro card_service_overlay_column(name="", delay="") %}
        <div class="col-12 col-sm-6 col-lg-5 col-xl-3 show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="600" data-show-distance="20">
            {{ card_service_overlay_global(name, 'card-image-xl card-hover-zoom card-bg-show text-white', 'background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.65) 100%)') }}
        </div>
        {% endmacro %}

        {{ card_service_overlay_column('web_design', '80') }}
        {{ card_service_overlay_column('brand_strategy', '160') }}
        {{ card_service_overlay_column('packaging', '240') }}
        {{ card_service_overlay_column('content_production', '320') }}
    </div>
</div> -->


{% endblock %}
