.card-title {
    font-size: 26px !important;
}
.feature-title {
    font-size: 20px;
    font-weight: 600;
}
.navbar-top {
    min-height: 60px;
}
.nav-lang {
    margin-top: 30px;
}

.nav-lang .selectDiv {
    max-width: 22px;
    overflow: hidden;
}

.nav-lang .selectDiv img {
    width: 22px;
}

li select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* background: url("/src/images/img"); */
    border: none;
    line-height: 25px;
    min-width: 44px;
}

@media (min-width: 620px) {
    .card-blog.card-horizontal.card-sm .card-img {
        width: 352px;
        height: 228px;
        margin-right: 40px;
    }
}

.cursor-none {
    pointer-events: none;
}
